{% extends "learning_logs/base.html" %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Track your learning.</h1>
    <p class="lead">Make your own Learning log, and keep a list of the topics
     you're learning about. Whenever you learn something new about a topic,
     make an entry summarizing what you've learned.</p>
     {% if user.is_authenticated %}
     <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}"
      role="button">Add your new topic now </a>
     {% else %}
     <a class="btn-lg btn-primary" href="{% url 'users:register' %}"
     role="button">Register &raquo;</a>
     {% endif %}
</div>
{% endblock page_header %}
{% block content %}
<div style="background-color: lightskyblue; padding: 3em;">
    <h3 class="display-4">Why learning log?</h3>
    <p class="display-5">Often times we would really want to learn something new, but we can't keep track of what we have learnt or just want to share what we have learnt with someone else so we can share knowloge and expreince. This is where learning log comes into place.</p>
    <a class="btn btn-success btn-lg" href="{% url 'learning_logs:topics' %}">
        Let's get started
    </a>
</div>
{% endblock content %}